body {
    margin: 0;
    padding: 0;
    color: #080808;

}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.arrow-container {
    position: fixed;
    bottom: 40px;
    /* Increase the distance from the bottom */
    right: 40px;
    /* Increase the distance from the right */
    cursor: pointer;
    text-decoration: none;
    /* Remove default link underline */
}

.arrow-container {
    position: fixed;
    bottom: 40px;
    /* Increase the distance from the bottom */
    right: 40px;
    /* Increase the distance from the right */
    cursor: pointer;
    text-decoration: none;
    /* Remove default link underline */
}


.B-arrow-container {
    position: fixed;
    bottom: 30px;
   
    left: 40px;
    /* Increase the distance from the right */
    cursor: pointer;
    text-decoration: none;
    transform: rotate(180deg);
}

.arrow {
    font-size: 36px;
    color: #080808;
}

.bth {
    position: fixed;
    bottom: 20px;
    right: calc(2in + 20px); /* 2 inches from the right */
    cursor: pointer;
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-family: "Merriweather", serif;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 1.5;
    word-spacing: 8px;
    transition: background-color 0.3s, color 0.3s;
}
