body {
    margin: 0;
    padding: 0;
    color: #080808;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.arrow-container {
    position: fixed;
    bottom: 40px; /* Increase the distance from the bottom */
    right: 40px; /* Increase the distance from the right */
    cursor: pointer;
    text-decoration: none; /* Remove default link underline */
    color: #080808;
}


.arrow {
    font-size: 36px;
}
