body {
    font-family: 'Carlito', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: olive;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

main {
    background-color: white;
}

.home-section {
    background-color: orange;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.box-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.box {
    width: 150px;
    height: 150px;
    background-color: olive;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.box:hover {
    background-color: #b88747; /* Darker shade of orange for hover effect */
}

}