* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  position: relative;
  text-align: left;
  transform:translateX(-5%);
  justify-content: center;
}

.container p {
  text-align: left; /* Left-align the <p> element */
}

.rectangle {
  height: 2900px;
  width: 1090px;
  margin: 0 auto; 
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

h1, h2, .arrow, .right, .left {
  font-size: 40px;
  margin: 0;
}

h1 {
  color: white;
}

h2 {
  color: black;
}

.arrow {
  color: black;
  text-decoration: none;
}

.right {
  color: white;
}

.left {
  color: black;
}

.left, .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
